# Python bytecode
__pycache__/
*.py[cod]

# Testing & Coverage files
.pytest_cache/
.coverage
htmlcov/

# Video files (Too large for Git) and used for CS50P submission only
*.mp4

# images that need to be ignored
images/Opening-scene.png 

# Local Data
RPS_game_data.csv