# media too big for github
*.mp4 
images/Opening-scene.png 

# Python bytecode
__pycache__/
*.py[cod]

# Data and database
rps_history.db 
RPS_game_data.csv

# Virtual environments...in future, .env will store API Keys and Passwords
venv/
.env 

# IDE settings
.vscode/